*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #22242A;
}

header{
    color: white;
    padding: 30px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}


#google{
    color: white;
    text-align: center;
    font-size: 100px;
}